* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #618985;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

video {
  box-sizing: border-box;
  border: 2px solid black;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.player-controls {
  background-color: #c1d7d7;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.progress {
  background-color: white;
  width: 100%;
  height: 10px;
}

.progress-fullfilled {
  height: 10px;
  width: 40%;
  background-color: blue;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 15px;
}

.controls-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.play-btn {
  border: 1px solid blue;
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 3px;
}

.player-btn {
  padding: 3px;
  text-align: center;
  border: 2px solid blue;
  border-radius: 5px;
  font-weight: bold;
}
